* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Liter, sans-serif;
  line-height: 1.6;
}
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
h1 {
  font-family: "Liter", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  padding: 10px 20px;
  color: var(--dark-text-color);
}
h2 {
  font-family: "Liter", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  padding: 10px 0;
  color: var(--dark-text-color);
}
h3 {
  font-family: "Liter", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  padding: 10px 0;
  color: var(--dark-text-color);
}
p,
span {
  font-family: "Liter", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  margin: 5px 0 0 0;
  color: var(--dark-text-color);
}

header img {
  height: 50px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  color: white;
  padding: 15px 0;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 0 50px;
  margin: auto;
  justify-content: space-between;
}

.header_block1 {
  display: flex;
  align-items: center;
}

.header_block1 img {
  width: 200px;
  height: 100px;
}
.desktop-nav-block {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-weight: bold;
  font-size: 18px;
}
.desktop-nav {
  display: flex;
  align-items: center;
}

.desktop-nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px 15px;
  margin: 0 10px;
}

.burger-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.burger-button svg {
  width: 40px;
  height: 40px;
}
.burger-nav {
  display: none;
}

.burger-nav.active {
  display: block;
}

.desktop-nav ul {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: absolute;
  top: 70px;
  right: 20px;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.burger ul.active {
  display: flex;
}
.main {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  gap: 50px;
  flex: 1;
  margin-top: 150px;
}
.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center;
  padding: 15px;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.checkbox-group_block1,
.checkbox-group_block2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  align-items: start;
  text-align: left;
}

.checkbox-group input {
  width: 18px;
  height: 18px;
}

.checkbox-group a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.checkbox-group a:hover {
  text-decoration: underline;
}
.footer_main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  padding: 20px;
}
.menu,
.documents {
  display: flex;
  flex-direction: column;
}
.menu a,
.documents a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
  }
}

@media (min-width: 1001px) {
  .burger-button {
    display: none;
  }

  .burger-nav {
    display: none !important;
  }

  .desktop-nav {
    display: block;
  }
}
@media (max-width: 1000px) {
  .burger-button {
    display: block;
  }

  .desktop-nav {
    display: none;
  }
  .section1_block1 {
    width: 100%;
  }
  .section2 {
    margin-top: 20px;
  }
  header {
    justify-content: space-between;
  }
  .burger-nav {
    display: none;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    position: absolute;
    top: 70px;
    right: 20px;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .burger-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .burger-nav ul li {
    display: block;
    padding: 10px 0;
    text-align: center;
  }

  .burger-nav ul li a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    display: block;
    padding: 10px;
  }

  .burger-nav ul li a:hover {
    background-color: #f5f5f5;
  }

  .burger-nav.active {
    display: flex;
  }
}

@media screen and (max-width: 750px) {
  h1 {
    font-size: 24px;
  }

  h3 {
    font-size: 16px;
  }
}
@media screen and (max-width: 560px) {
  .main {
    gap: 20px;
  }
  .header_block1 {
    width: 50%;
  }
  .footer_main {
    flex-direction: column;
  }
}
@media screen and (max-width: 450px) {
  .section1 {
    margin-top: 100px;
  }
  .header_block1 {
    width: 25%;
  }
}
@media (max-width: 850px) {
  .desktop-nav {
    display: none;
  }

  .burger-button {
    display: block;
  }
}
